<footer class="footer mt-auto py-3 text-dark">
    <div class="container text-center">
        <span>Made with ❤️ by <a class="authbtn" href="https://www.maniks.dev/">Manik</a>! © 2025</span>
    </div>
</footer>